.bg-custom-img-be-the-best-brand{
    background-image: url("https://welovebrandings.spreadagency.co.nz/public/assets/images/banners/1650365730brand-img.jpg");
    background-size: cover;
    background-position: center;
}